body {
    background-color: #e4ecf0;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.footer{
  background: #f7f7f7;
    color:#9d999d;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
}

.f_button {
width:100px;
text-align:center;
color:#9d999d;
font-family: 'Ubuntu Condensed', sans-serif;

}

.header_text {
    color:#9d999d;
    text-align:center;
    padding-top: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.header_text1 {

    text-align:center;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}
.menu-main {
  list-style: none;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: 0px;
  left: 50%;
  background: #2a4fb5;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.line
{
	height: 35%;
	display: inline-block;
	background-color: #e4ecf0;
	width: 15%;
    text-align: center;
}
.container {
    border: 4px solid white; 
    text-align: center;
}
.triangle {
    margin-top: 1em;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
   background-color: transparent;
    display: inline-block;
    
    
}

.round {
    margin-top: 1em;
  width: 120px;
  height: 120px;
  border-radius: 50%;
    display: inline-block;
    
    
}


.square {
    margin-top: 1em;
    width: 120px;
	height: 120px;
    display: inline-block;
    
}



